* {
-webkit-font-smoothing: antialiased;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: url(../img/bg.jpg) center 0px;
  background-size: 1500px auto;
  background-repeat: no-repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-weight: 300;
  line-height: 1.5em;
  height: 100%;
}

h1 {
  margin: 50px 0 30px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size: 1.8em;
  text-align: center;
  line-height: 1.4em;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 50px;
}

.big {
  margin: 0 0 6px 0;
  font-size: 1.2em;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  z-index: 10000;
}

  #overlay .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #FFFFFF;
    font-size: 2em;
    cursor: pointer;
  }

  #overlay .close:hover {
    color: #CCCCCC;
  }

  #video {
    display: none;
  }

  #video.on {
    display: block;
    margin: 80px auto;
    width: 80%;
    height: 80%;
  }

nav {
  position: fixed;
  top: 0;
  padding: 0px;
  background: rgba(255,255,255,0.9);
  border-bottom: 1px solid #CCC;
  text-align: center;
  width: 100%;
  z-index: 1000;
}

  nav #navicon {
    padding: 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
  }

    nav #navicon:active {
      background: #CCC;
    }


  nav a {
    display: none;
    padding: 20px;
    font-family: "Helvetica Neue", Helvetica Neue, Helvetica, Arial, Sans-serif;
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #555;
  }

    nav a.mobile {
      display: block;
    }

    nav a.logo {
      display: block;
      padding: 30px;
    }

      nav a.logo img {
        width: 106px;
        height: 24px;
      }

    nav a:hover {
      color: #888;
    }

    nav a.rsvp {
      color: #A22;
    }

      nav a.rsvp:hover {
        color: #C55;
      }

  @media screen and (min-width: 1200px) {
    nav {
      padding: 30px;
    }

      nav #navicon {
        display: none;
      }

      nav a {
        display: inline-block;
        padding: 0 20px;
      }

      nav a.logo {
        width: 172px;
        position: absolute;
        top: 30px;
        left: 30px;
        padding: 0;
      }

  }

header {
  position: relative;
  margin: 150px auto;
}

  header .box {
    margin: 5px auto;
    padding: 10px;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    background: rgba(255,255,255,0.8);
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    color: rgb(84,111,150);
  }

  .annual, .lecture, .date, .falsevid {
    margin: 30px;
    max-width: 500px;
  }

  header .box.lecture {
    animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
       -moz-animation-delay: 300ms;
         -o-animation-delay: 300ms;
    font-family: 'Museo Slub';
    font-size: 2.5em;
    line-height: 1.2em;
  }


  header .box.falsevid {
    animation-delay: 300ms;
    -webkit-animation-delay: 300ms;
       -moz-animation-delay: 300ms;
         -o-animation-delay: 300ms;
    height: 333px;
    background-color: #000000;
    background: url('../img/thumbnail.jpg');
    color: #FFFFFF;
    line-height: 333px;
    cursor: pointer;
  }

    header .box.falsevid .fa.fa-2x {
      position: relative;
      top: 5px;
      padding: 10px;
    }


  header .box.date {
    margin-top: 0;
    color: #666;
    font-size: 1.3em;
    animation-delay: 1200ms;
    -webkit-animation-delay: 1200ms;
       -moz-animation-delay: 1200ms;
         -o-animation-delay: 1200ms;
  }

    header .box.date small {
      font-size: 0.7em;
      line-height: 0.8em;
    }

  header img {
    position: relative;
    left: 50%; 
    margin-left: -209px;
    animation-delay: 600ms;
    -webkit-animation-delay: 600ms;
       -moz-animation-delay: 600ms;
         -o-animation-delay: 600ms;
  }


section {
  clear: both;
  margin: 0;
  padding: 50px 50px 80px 50px;
  background: #FFF;
  color: #555;
}

  section.img {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

    section.img img {
      width: 100%;
      float: left;
    }
    
  section .content {
    margin: 0px auto 30px auto;
    max-width: 500px;
  }
  
  section .content.center {
    text-align: center;
  }

section#about-orator {
  clear: both;
  background: #FFF;
  background-image: url(../img/orator-bg-mobile.jpg);
  background-size: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

  @media screen and (min-width: 1200px) {
    section#about-orator {
      background: #FFFEFE;
      background-image: url(../img/orator-bg.jpg);
      background-size: 100%;
      background-repeat: no-repeat;
    }
  }

iframe#map {
  display: block;  
}

  section#map {
    background: transparent;
    position: relative;
    width: 100%;
    height: 450px;
    top: 450px;
    margin-top: -450px;
    padding: 0;
  }

section#about-lecture {
  min-height: 300px;
  background: rgb(204,199,200);
  background-image: url(../img/lecture-bg-mobile.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}

  section#about-lecture h1,
  section#about-lecture h2,
  section#about-lecture h3,
  section#about-lecture .content {
    margin-left: 30px;
    text-align: left;
  }

  section#about-lecture h2 {
    line-height: 1.3em;
    margin-bottom: 0;
  }

  section#about-lecture h3 {
    font-weight: 300;
    font-style: italic;
  }

  .bg-img {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    section#about-lecture {
      position: relative;
      background: transparent;
    }

    section#about-lecture h1,
    section#about-lecture h2,
    section#about-lecture h3,
    section#about-lecture .content {
      margin-left: 40%;
      max-width: 500px;
    }

    .bg-img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

      #esmeyers1.bg-img {
        background-image: url(../img/esmeyers1.jpg);
        background-position: 50px 220px;
        background-size: 200px 337px;
        background-repeat: no-repeat;
        z-index: -1;
      }

      #esmeyers2.bg-img {
        background: #EEE;
        background-image: url(../img/esmeyers2.jpg);
        background-position: 90px 550px;
        background-size: 300px 457px;
        background-repeat: no-repeat;
        z-index: -4;
      }
      
      #esmeyers3.bg-img {
        background-image: url(../img/esmeyers3.jpg);
        background-position: 300px 1000px;
        background-size: 140px 230px;
        background-repeat: no-repeat;
        z-index: -3;
      }
  }
section#timeline {
  position: relative;
  margin: 0;
  padding: 50px 0 0 0;
  background: #333;
  color: #FFF;
  min-height: 379px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section#timeline .carousel {
  margin-top: 50px;
  width: 100%;
  height: 300px;
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  border-top: 3px solid #A22;
}

  section#timeline .carousel-content {
    margin: 0px 25px;
    white-space: nowrap;
  }

    section#timeline .carousel-content article {
      vertical-align: top;
      display: inline-block;
      width: 180px;
      height: 210px;
      color: #AAA;
      margin-right: 25px;
      white-space: normal;
    }

      section#timeline .carousel-content article .year {
        padding-left: 20px;
        padding-top: 30px;
        color: #A22;
        font-size: 3em;
        line-height: 1.5em;
        font-weight: 200;
        border-left: 3px solid #A22;
      }
  
      section#timeline .carousel-content article .orator {
        font-weight: 400;
        font-family: Helvetica Neue, Helvetica, Arial, Sans-serif;
        font-size: 1em;
        line-height: 1.4em;
        margin-left: 23px;
      }

      section#timeline .carousel-content article .title {
        font-size: 0.8em;
        line-height: 1.3em;
        font-style: italic;
        margin-left: 23px;
      }

    section#timeline .carousel-nav .prev,
    section#timeline .carousel-nav .next {
      position: absolute;
      bottom: 0;
      padding: 20px;
      color: #FFF;
      font-size: 1.2em;
      cursor: pointer;
    }

      section#timeline .carousel-nav .prev:hover,
      section#timeline .carousel-nav .next:hover {
        opacity: 0.6;
      }

      section#timeline .carousel-nav .prev {
        left: 0;
      }

      section#timeline .carousel-nav .next {
        right: 0;
      }

section#uqms {
  background: #FFF;
}

  section#uqms a.button {
    max-width: 250px;
    margin: 50px auto 0 auto;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    section#uqms {
      background-image: url(../img/uqms-bg.jpg);
      background-repeat: no-repeat;
      background-size: 100%;
    }
  }

section#register,
section#register2 {
  position: relative;
  padding: 60px 50px;
  background: #A22;
  color: #FFF;
}

  section#register h1,
  section#register2 h1 {
    margin: 0 0 50px 0 ;
    color: #FFF;
  }

  section#register .content {
    margin-bottom: 30px;
  }

  section#register a.button {
    display: inline-block;
    text-align: center;
  }

  section#register2 {
    text-align: center;
  }

  section#register2 a.button {
    display: inline-block;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    section#register h1 {
      margin: 0 0 30px 0;
    }
  }

  section#register form {
    display: block;
    margin: 30px auto 0 auto;
    max-width: 500px; 
  }

    section#register form label,
    section#register form input,
    section#register form select {
      display: block;
      text-align: left;
    }

    section#register form label {
      margin: 20px 0 10px 0;
      color: #FFF;
      font-size: 1em;
    }

    section#register form input,
    section#register form select {
      width: 100%;
      padding: 8px;
      font-size: 1em;
      border: 1px solid #FFF;
      outline: none;
      box-sizing: border-box;
    }

      section#register form input:focus {
        border: 1px solid #AAA;
      }

      section#register input[type=checkbox] {
        width: auto;
        display: inline-block;
      }

a.button,
section#register form input[type=submit] {
  display: block;
  padding: 15px 30px;
  background: #16375F;
  font-size: 1.3em;
  color: #FFF;
  text-decoration: none;
}

  a.button:hover,
  section#register form input[type=submit]:hover {
    background: #39597F;
  }

  section#register form input[type=submit] {
    display: inline-block;
    max-width: 120px;
    text-align: center;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    -webkit-appearance: none;
  }

section#sponsors {
  padding: 50px 50px 0px 50px;
  background: #555;
  text-align: center;
  padding-bottom: 50px;
}

  section#sponsors h1 {
    margin: 0 0 30px 0;
    font-size: 0.8em;
    font-family: "Helvetica Neue", Helvetica, Arial, Sans-serif;
    font-weight: 300;
    color: #FFF;
  }

  section#sponsors .content {
    margin: 0 auto;
    max-width: 900px;
  }

    section#sponsors .content a {
      margin: 0 30px 50px 0;
      line-height: 60px;
    }

    section#sponsors .content a:hover {
      opacity: 0.8;
    }

footer {
  padding: 50px;
  min-height: 50px;
  background: #16375F;
  color: #FFF;
  text-align: center;
  font-size: 0.8em;
  line-height: 1.3em;
}

  footer img {
    border: 0;
  }

  footer a {
    color: #FFF;
  }

  footer a:hover {
    text-decoration: none;
  }

section#thanks {
  margin: 100px auto;
  padding: 50px;
  background: rgba(255,255,255,0.8);
  text-align: center;
  max-width: 500px;
}

  section#thanks #logo {
    width: 200px;
    margin: 0 auto;
  }

  section#thanks .button {
    margin-top: 20px;
  }
