@font-face {
    font-family: 'Museo Slub';
    src: url('museo_slab_500_2-webfont.eot');
    src: url('museo_slab_500_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('museo_slab_500_2-webfont.woff') format('woff'),
         url('museo_slab_500_2-webfont.ttf') format('truetype'),
         url('museo_slab_500_2-webfont.svg#museo_slab500') format('svg');
    font-weight: normal;
    font-style: normal;

}
